/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
body{
    font-family: montserrat;
    
}

.discover-button {
    background-image: linear-gradient(#b91c1c,#b91c1c);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s;
}
.discover-button:hover {
    background-size: 100% 100%;
}
.dots_section{
    width: fit-content;
    height: 550px;
    padding: 0px 0px 30px 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='15' width='15'%3E%3Ccircle cx='5' cy='5' r='2' fill='%23b91c1c' /%3E%3C/svg%3E ");
    fill: #b91c1c !important;
}

.lock-scroll {
  overflow: hidden;
}

@keyframes in-circle-swoop {
  from {
    clip-path: var(--circle-top-right-out);
  }
  to {
    clip-path: var(--circle-bottom-right-in);
  }
}

.--in-custom {
  --transition__duration: 2s;
  --transition__easing: ease-in-out;
  animation-name: in-circle-swoop;
}

@keyframes out-circle-swoop {
  from {
    clip-path: var(--circle-bottom-right-in);
  }
  to {
    clip-path: var(--circle-top-right-out);
  }
}
.--out-custom {
  --transition__duration: 2s;
  --transition__easing: ease-in-out;
  animation-name: out-circle-swoop;
}

.first_dots_section{
  width: 100%;
  height: 350px;
  /* padding: 0px 0px px 30px; */
  margin-bottom: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='15' width='15'%3E%3Ccircle cx='5' cy='5' r='2' fill='%23b91c1c' /%3E%3C/svg%3E ");
  fill: #b91c1c !important;
}
/* Plus button */

/* .ico-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #b91c1c;
    transition: all .20s cubic-bezier(0.4, 0.0, 0.2, 1);
    border-radius: 100%;
    border: 2px solid; 
  }
  
  .ico-btn__plus{
    width: 16px;
    height: 2px;
    background: currentColor;
    border-radius: 2px;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
    color: white;
  }
  
  .ico-btn__plus::after{
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    border-radius: 2px;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
    color: white;
    transform: rotate(90deg);
  }
  
  .ico-btn.is-active .ico-btn__plus{
    transform: rotate(135deg);
  } */
  
  .arrow-icon {
    background-color: #b91c1c;
    height: 35px;
    width: 35px;
    display: block;
    padding: 0.5em;
    position: relative;
    cursor: pointer;
    border-radius: 100%;
  }
  
  .left-bar {
    position: absolute;
    background-color: transparent;
    top: 16px;
    left: 5px;
    width: 15px;
    height: 3px;
    display: block;
    transform: rotate(40deg);
    float: right;
    border-radius: 2px;
  }
  .left-bar:after {
    content: "";
    background-color: white;
    width: 15px;
    height: 3px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
  }
  
  .right-bar {
    position: absolute;
    background-color: transparent;
    top: 15.6px;
    right: 5px;
    width: 13px;
    height: 3px;
    display: block;
    transform: rotate(-40deg);
    float: right;
    border-radius: 2px;
  }
  .right-bar:after {
    content: "";
    background-color: white;
    width: 15px;
    height: 3px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
  }
  
  .open .left-bar:after {
    transform-origin: center center;
    transform: rotate(-75deg);
  }
  .open .right-bar:after {
    transform-origin: center center;
    transform: rotate(75deg);
  }

.dropdown_info{
    max-height: 0;
    transition: max-height 0.25s ease-in-out;
    overflow: hidden;
}
.open .dropdown_info{
    max-height: 100px;
    transition: max-height 0.25s ease-in-out;
}
.hamburger{
  background-color: #b91c1c !important;
  color: white !important;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.hamburger-box{
  width: 30px !important;
}
.hamburger-inner{
  left: -5px !important;
  /* right: 0 !important; */
  /* bottom: 0 !important; */
  top: 10.5px !important;
  /* margin: auto !important; */
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
  background-color: white !important;
  width: 30px !important;
  height: 3px !important;
}

#spin:after {
  content:"";
  animation: spin 8s linear infinite;
}
@keyframes spin {
  0% { content:"WE ARE";}
  30% { content:"CLEAN IMAGE LIMITED,";}
  /* 40% { content:"WE ARE";} */
  60% { content: "TRANSCENDENT,"; }
  /* 80% { content: "WE ARE"; } */
  90% { content: "BEYOND ORDINARY."; }
}